@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700&display=swap");
body {
  margin: 0;
  width: 100%;
}
body header {
  background-image: url(../images/photos/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
}
body header .start {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
body header .start_title {
  color: #fff;
  font-family: "Fraunces", serif;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 8px;
  margin: 6rem auto 0 auto;
}
@media (min-width: 376px) {
  body header .start_title {
    font-size: 56px;
  }
}
body header .start_fleche {
  margin-top: 85px;
}
body header .start .nav {
  margin-top: 50px;
  width: 95%;
}
@media (min-width: 376px) {
  body header .start .nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
}
body header .start .nav_bar {
  display: none;
}
@media (min-width: 376px) {
  body header .start .nav_bar {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 47px;
  }
}
@media (min-width: 376px) {
  body header .start .nav_bar_link {
    color: #fff;
    text-decoration: none;
    font-family: "Barlow", sans-serif;
    font-size: 18px;
  }
}
@media (min-width: 376px) {
  body header .start .nav_bar .contact {
    background-color: #fff;
    color: #24303E;
    font-family: "Fraunces", serif;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 28px;
    padding: 15px 30px;
  }
  body header .start .nav_bar .contact:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
}
body header .start .nav_mob {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body header .start .nav_burger {
  margin-right: 10%;
}
@media (min-width: 376px) {
  body header .start .nav_burger {
    display: none;
  }
}
body main .brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .brand_img {
  max-width: 100%;
}
@media (min-width: 376px) {
  body main .brand {
    flex-flow: row-reverse nowrap;
    align-items: normal;
  }
  body main .brand_img {
    max-width: 50%;
  }
}
body main .audience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .audience_img {
  max-width: 100%;
}
@media (min-width: 376px) {
  body main .audience {
    flex-flow: row nowrap;
    align-items: normal;
  }
  body main .audience_img {
    max-width: 50%;
  }
}
body main .content {
  max-width: 100%;
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (min-width: 376px) {
  body main .content {
    max-width: 50%;
    text-align: left;
  }
}
body main .content_title {
  color: #24303E;
  font-family: "Fraunces", serif;
  font-size: 40px;
  font-weight: 900;
}
body main .content_txt {
  color: #808397;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  line-height: 30px;
}
body main .content_link {
  color: #24303E;
  font-family: "Fraunces", serif;
  font-size: 15px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
body main .backpic {
  overflow: hidden;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 376px) {
  body main .backpic {
    flex-flow: row nowrap;
  }
}
body main .backpic_pose {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  padding: 5% 15%;
  text-align: center;
  color: #24554A;
}
@media (min-width: 376px) {
  body main .backpic_pose {
    width: 50%;
  }
}
body main .backpic_title {
  font-family: "Fraunces", serif;
  font-size: 28px;
  font-weight: 900;
}
body main .backpic_txt {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
}
body main .backpic .design {
  height: 600px;
  background-image: url(../images/photos/image-graphic-design.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body main .backpic .photo {
  height: 600px;
  background-image: url(../images/photos/image-photography.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body main .clients {
  max-width: 100%;
  margin: 10% auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media (min-width: 376px) {
  body main .clients {
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". a ." "b c d";
  }
}
body main .clients_title {
  grid-area: a;
  text-align: center;
  text-transform: uppercase;
  color: #A7AAAD;
  font-family: "Fraunces", serif;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 5px;
}
@media (min-width: 376px) {
  body main .clients .emi {
    grid-area: b;
  }
}
@media (min-width: 376px) {
  body main .clients .thomas {
    grid-area: c;
  }
}
@media (min-width: 376px) {
  body main .clients .jennie {
    grid-area: d;
  }
}
body main .clients_about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media (min-width: 376px) {
  body main .clients_about {
    width: 350px;
    padding: 5% 10%;
  }
}
body main .clients_about_pp {
  width: 72px;
  border-radius: 72px;
}
body main .clients_about_txt {
  text-align: center;
  color: #5B636D;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  line-height: 32px;
  margin: auto 10%;
}
@media (min-width: 376px) {
  body main .clients_about_txt {
    margin: 0;
  }
}
body main .clients_about_name {
  color: #24303E;
  font-family: "Fraunces", serif;
  font-size: 18px;
  font-weight: 900;
}
body main .clients_about_job {
  color: #A7AAAD;
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  line-height: 25px;
  margin-top: 0;
}
body main .galery {
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
}
@media (min-width: 376px) {
  body main .galery {
    flex-flow: row nowrap;
  }
}
body main .galery_img {
  max-width: 50%;
}
@media (min-width: 376px) {
  body main .galery_img {
    max-width: 25%;
  }
}
body footer {
  width: 100%;
  background: #90D4C6;
  height: 350px;
  padding: 72px auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}
body footer .foot {
  display: inline-flex;
  gap: 57px;
  line-height: 25px;
}
body footer .foot_link {
  color: #458D7E;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}
body footer .foot_link:hover {
  color: #fff;
  cursor: pointer;
}
body footer .icon {
  display: inline-flex;
  gap: 30px;
}/*# sourceMappingURL=style.css.map */